@charset 'UTF-8';
	
body{
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  justify-content: center;
}

.main{
  display: flex;
  flex-direction: column;
}

.points{
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  width: 98%;
  margin-top: 0.5rem;
}

.main:not(.main__header){
  padding: 0 1rem 2rem 1rem;
}

.main__header{
  background-color: #82FA58;
  height: 80px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  margin-bottom: 1rem;
}

.main__success-button{
  padding: 0.5rem 1rem;
  border: 1px solid darkgray;
  box-shadow: 50px whitesmoke;
  background-color: white;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.main__sort-by-container{
  display: flex;
  justify-content: flex-end;
  color:#0080FF;
}

.main__sort-by-text{
  font-size: 0.75rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.training-point__point-avatar{
  min-height: 100px;
  border: 1px solid black;
}

.training-point__point-description{
  justify-content: center;
  display: flex;
  flex-direction:column;
}

.training-point__wrapper{
  display: flex;
}

.training-point__wrapper .col{
  padding: 0;
  margin: 0;
}